
$brand-color: ;
$text-color: ;
$button-bg-color: ;
$button-color: ;
$h1-color: ;
$h2-color: ;
$h3-color: ;
$h4-color: ;

$main-font-family: ;
$main-font-size: ;
$main-font-weight: ;
$main-line-height: ;

$h1-font-size: ;
$h1-line-height: ;
$h2-font-size: ;
$h2-line-height: ;
$h3-font-size: ;
$h3-line-height: ;
$h4-font-size: ;
$h4-line-height: ;
$paragraph-size: ;
$paragraph-font-weight: ;
$paragraph-line-height: ;
$link-font-size: ;
$link-font-weight: ;
$link-line-height: ;